<!DOCTYPE html>
<html>
    <head lang="pt-br">
        <meta charset="UTF-8">
        <title>Consulta Tabela Fipe</title>
        <script type="text/javascript"
            src="D:\Projetos\TabelaFipe\ConsultaTabelaFipe\app\node_modules\angular\angular.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="services/factory.js"></script>
    </head>

    <body ng-app="tabelaFipe">
        <div ng-controller="FipeCrtl">
            <h1>{{titulo}}</h1>
            <input type="text" ng-model="tipoVeiculo">
            <input type="text" ng-model="nomeDaMarca">
            <input type="text" ng-model="fipeName">
            <input type="text" ng-model="fipeCodigo">
            <button ng-click="buscarVeiculo">Teste</button>
        </div>
    </body>
</html>