.alinhar-nome-marca{
    position: absolute;
    margin-left: 201px;
    margin-top: -38px;
}

.alinhar-modelo{
    position: absolute;
    margin-left: 398px;
    margin-top: -53px;
}

.alinhar-botao-pesquisar{
    position: absolute;
    margin-left: 613px;
    margin-top: -53px;
}

.background-tabelafipe{
    background-color: #F0FFFF;
}

.tamanho-select{
    font-size: 17px !important;
}